
.hover-div{
    height: 100vh;
    background-color: rgb(37, 5, 0);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    /* height: 100vh; */
    /* padding-top: 20vh; */
    position: relative;
    z-index: 2;  
} 