
.hover-div{
    background-color: rgb(252, 248, 244);

    display: flex;
    justify-content: center;
    

    width: 100vw;
    position: relative;
    z-index: 2;  
} 

.content{
    padding: 7vh 0;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .content{
        display: flex;
        flex-direction: column;
        width: 100vw;  
    }
  }