.about{
    /* height: 50vh; */
    width: 100vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

    position: relative;
    z-index: 2;
}

.location, .times{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .about{
        flex-direction: column;    
    }
  }