.header{
    height: 60vh;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color:rgb(252, 248, 244);
    font-size: xx-large; */
}

.typewriter{
    color:rgb(252, 248, 244);
    font-size: 60px;
}

.header::before{
    content:'';
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    background-image: url('../../images/header.jpg');
    background-repeat: round;
    background-size: auto;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px)scale(2);
}


