@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.header{
    height: 60vh;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* color:rgb(252, 248, 244);
    font-size: xx-large; */
}

.header-div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* font-family: 'Satisfy', cursive; */
    font-family: 'Courgette', cursive;
}

.typewriter{
    color:rgb(252, 248, 244);
    font-size: 60px;
}

.header::before{
    content:'';
    width: 100vw;
    height: 200vh;
    top:0;
    left: 0;
    background-image: url('../../images/header.jpg');
    background-repeat: round;
    background-size: auto;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px)scale(2);
}


