p{
    margin: 0;
}

.navbar{
    width: 100vw;
    display: flex;
    justify-content: flex-end;

}

.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 25%;
    background: blueviolet;
}

.tab:hover{
    /* border-radius: 0px 0px 5px 5px; */
    /* height: 60px; */
    box-shadow: 0px 0px 10px black;
    z-index: 2;
}