@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

p{
    margin: 0;
}

.navbar{
    align-self: start;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 25%;

    color:rgb(252, 248, 244);
    border: 1px inset rgba(105, 39, 39, 0);

    /* background: rgba(255, 255, 255, 0.2); */
    background:rgb(252, 248, 244);
    backdrop-filter:blur(1px);


    font-family: 'Courgette', cursive;

}

.tab:hover{
    backdrop-filter:blur(20px);
    border: 1px inset black;
    /* border: 1px inset white; */
}

.tab a{
    /* color: white; */
    color: rgba(0, 0, 0, 0.795);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}