/* .main{
    height: 80vh;
    width: 300px;
    margin: 30px;
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH6NUVHN0fDWPQJp5S_jj0D4hCOo0-9LfOeg&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;

    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 30px 30px rgba(250, 128, 114, 0.575);
} */

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 30%;
    justify-self: center;

    border: 2px solid black;

    text-align: center; 
}

.text:hover{
    background-color: salmon;
    color: white;
    border: 2px solid white;
}

.cover{
    height: 0%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(250, 128, 114, 0.404);
}

.show{
    animation-name: grow;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    /* height: 100%; */
}

@keyframes grow {
    from {height: 0;}
    to {height: 100%;}
    /* from {margin-top: 300%;}
    to {margin-top: 0%;} */
}
